/* general
==============================================================================*/
.app {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 20vw auto;
}

button {
  cursor: pointer;
}

.panel-title {
  background: #ddd;
  width: 100%;
  text-align: center;
}

 /* .scrollable-content {
  position: absolute;
  top: ;
  bottom: 0;
  left: 0;
  flex-grow: 1;
  overflow: auto;
  min-height: 0;
} */

/*edit panel
==============================================================================*/

.edit-panel {
    background: pink;
    display: flex;
    flex-direction: column;
    width: 20vw;
    border-right: 1px solid #333;
    height: 100vh;
    position: relative;
    top:0;
    left: 0;
}

.edit-panel-section-header {
    display: flex;
    justify-content: space-between;
    background: red;
    /* margin: 10px; */
    padding:0 10px;
    position: sticky;
    top: 0;
}

.panel-title-container {
    background: orange;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
}

.edit-section-header {
    background: #888;
    padding:0 10px;
    /* height: 100%; */
}

.sections-container {
  background: green;
  padding-bottom: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.visible {
    display: inline-block;
}

.hidden {
    display: none;
}

.edit-section {
  margin: 10px;
  border: 1px dashed #fff;
  padding-bottom: 10px;
  /* flex: 1; */
  width: calc(100% - 20px);
}

.controls-container {
    display: flex;
    flex-wrap: wrap;
    background: purple;
    position: sticky;
    bottom: 0;
    left: 0;
}

.control-button {
  flex: 1;
  min-width: 40%;
  padding: 10px;
  margin: 6px 10px;

}

.print-button {
  flex: 2;
  background: greenyellow;
  border: 2px solid #000;
}

/* buttons
==============================================================================*/
.btn {
    background: #fff;
    border: 1px solid #000;
    border-radius: 10px;
}

/* inputs
==============================================================================*/
.input-group {
  display: flex;
  flex-direction: column;
}


/* preview panel
==============================================================================*/
.preview-panel {
  background: #eee;
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
  /* padding-bottom: 1em; */
}

/*cv container
==============================================================================*/
.cv-container {
  min-height: 700px;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.cv-header {
  background: dodgerblue;
  text-align: center;
}

.cv-body {
    flex: 1;
    background: #fff;
}

.cv-section {
  /* border: 1px solid black; */
  padding-left: 20px;
}

.cv-section p {
  line-height: 0.8;
}
.cv-field-label {
  font-weight: 600;
}

.bg-color-picker {
    position: fixed;
    top: 10vh;
    right: 10vw;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/*edit section
==============================================================================*/

.edit-section header {
  display: flex;
  justify-content: space-between;
}

.edit-section header h1 {
  flex: 1;
}

.edit-section-btn-header-controls {
  align-self: center;

}
.add-item {
  width: 40px;
  height: 40px;
  /* margin-left: 10px; */
}

.collapse {
  align-self: center;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.education-item-header {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
}

.education-item-header h3 {
    flex: 1;
}

.education-item-header button {
    min-width: 60px;
}

/*****************************************************************************
                     media query for printing
*******************************************************************************/
@media print {

    .myDivToPrint {
        position: relative;
        top: 0;
        width: 100%;
        padding-top: 15px;
        font-size: 14px;
        line-height: 18px;
        border: 0px ;
        margin: 0;
    }

    .cv-section {
      border: 0px solid black;
      /* padding-left: 20px; */
    }
    .cv-container {
      box-shadow: none;
    }

}
